:root {
  --primary-color: #5cb8ff;
  --secondary-color: #1e1e1e;
  --text-color-primary: #f0f0f0;
  --text-color-secondary: #ccc;
  --background-dark: #121212;
  --background-light: #282828;
  --border-color: #333;
  --error-color: #ff4d4d;
}

body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; /* Usando a fonte que definimos no App.css */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-dark); /* Usando variável */
  color: var(--text-color-primary); /* Usando variável */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary-color); /* Usando variável */
}

code {
  font-family: "Consolas", "Courier New", monospace; /* Uma opção comum para código */
}
